@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using FileProcessingDB.DataModel;
    
    @model IEnumerable<BaseRate>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List</title>
    </head>
    <body>
        <h2> All baserates</h2>
        @{int count = 1;
            foreach (var baseRate in Model)
            {
                <div>
                    <h2>BaseRate @count | @baseRate.Value | @baseRate.TotalTerm | @baseRate.LastModified | @baseRate.Advertiser.Name  | @baseRate.Amount.Min | @baseRate.Amount.Max | @baseRate.CreditScore.Min | @baseRate.CreditScore.Max | @baseRate.Ltv.Min | @baseRate.Ltv.Max | @baseRate.ProductType.Name | @baseRate.State.Name</h2>
                </div>
                count++;
            }

        }
    </body>
</html>
}
